language: php
sudo: false
dist: trusty

php:
  - 7.2
  - 5.6

matrix:
  fast_finish: true

before_install:
  - sudo apt-get update -qq
  - phpenv config-rm xdebug.ini 

notifications: 
  email:
    recipients:
      - jason@minorscience.com
    on_success: never
    on_failure: always



